/* Styles for the body element */
body {
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
}

.navbar {
    z-index: 1000; /* Ensure navbar is below sidebar */
    position: fixed;
    width: 100%;
    top: 0;
}

.first {
    background-color: #283593; /* Dark blue color code */
    color: #ffffff;
    background-size: cover;
    background-position: center;
    padding-top: 100px; /* Adjust top padding to increase height */
    padding-bottom: 100px; /* Adjust bottom padding to increase height */
    
}
.events {
    /* background-image: url('path/to/your/image.jpg');  */
    /* Replace 'path/to/your/image.jpg' with the actual path to your image */
    /* OR */
    background-color: white; /* Replace 'black' with the desired background color */
    background-size: cover;
    background-position: center;
    color: black; /* Optionally change text color to white for better contrast */
    padding: 50px 0; /* Adjust padding as needed */
     /* Set the desired height */
  }

  .bg-image1 {
    background-image: url('static/images/event1.jpg'); /* Replace 'path_to_your_image.jpg' with the path to your image */
    background-size: cover;
    background-position: center;
    color: white;
}
  .bg-image2 {
    background-image: url('static/images/event2.jpg'); /* Replace 'path_to_your_image.jpg' with the path to your image */
    background-size: cover;
    background-position: center;
    color: white;
}
  .bg-image3 {
    background-image: url('static/images/event3.jpg'); /* Replace 'path_to_your_image.jpg' with the path to your image */
    background-size: cover;
    background-position: center;
    color: white;
}
  .bg-image4 {
    background-image: url('static/images/technology.jpg'); /* Replace 'path_to_your_image.jpg' with the path to your image */
    background-size: cover;
    background-position: center;
    color: white;
}
  .bg-image5 {
    background-image: url('static/images/sport.jpg'); /* Replace 'path_to_your_image.jpg' with the path to your image */
    background-size: cover;
    background-position: center;
    color: white;
}
  .bg-image6 {
    background-image: url('static/images/science.jpg'); /* Replace 'path_to_your_image.jpg' with the path to your image */
    background-size: cover;
    background-position: center;
    color: white;
}
  .bg-image7 {
    background-image: url('static/images/agric.jpg'); /* Replace 'path_to_your_image.jpg' with the path to your image */
    background-size: cover;
    background-position: center;
    color: white;
}
  .bg-image8 {
    background-image: url('static/images/startup.jpg'); /* Replace 'path_to_your_image.jpg' with the path to your image */
    background-size: cover;
    background-position: center;
    color: white;
}
  .bg-image9 {
    background-image: url('static/images/event3.jpg'); /* Replace 'path_to_your_image.jpg' with the path to your image */
    background-size: cover;
    background-position: center;
    color: white;
}
.info-section {
    background-image: url('static/images/used.jpg'); /* Replace 'path_to_your_image.jpg' with the path to your image */
    background-size: cover;
    background-position: center;
    color: white;
}

.info-section {
    background-size: cover;
    background-position: center;
    padding: 100px 0; /* Adjust padding to increase height */
  }
  
  .info-item {
    padding: 20px;
  }
  
  .info-item h2,
  .info-item p {
    margin: 0;
  }

  .live-there {
    background-image: url('static/images/celebrate.jpg');
    background-size: cover;
    background-position: center;
    color: #fff; /* Text color */
    padding: 100px 0; /* Adjust padding as needed */
  }
  
  .play-button {
    font-size: 40px;
    color: #fff;
  }
  
  .play-button:hover {
    color: #ffcc00; /* Change color on hover if needed */
  }

  .text-bold {
    font-weight: bold;
  }
  
  .text-big {
    font-size: 30px; /* Adjust size as needed */
  }

  .bg-dark-blue {
    background-color: #283593; /* Dark blue color code */
    color: #ffffff;
  }

  .footer-section {
    padding: 50px 0;
  }
  
  .footer-section h5 {
    color: #fff;
  }
  
  .footer-section p {
    color: #ccc;
  }
  
  .footer-section ul li {
    color: #ccc;
    list-style: none;
  }
  
  .bg-black {
    background-color: #000;
  }